.join-main-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.join-text {
    font-size: 3.5em;
    font-weight: bold; /*not really necessary*/
    margin: 0; /*not really necessary*/
}

.accent-text {
    color: #BC3A80;
}

.join-form {
    background-color: #202027;
    width: 50vw;
    max-width: 50%;
    padding:  2rem 4rem;
    border-radius: 20px;
}

.input-group {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.input-group:last-child {
    margin-bottom: 0;
}

.input-group label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.input-group input {
    outline: none;
    background: none;
    border: 1px solid #2E3852;
    font-size: 1em;
    padding: .5em;
    color: inherit;
    border-radius: 5px;
}

.input-group input:focus {
    border-color: #596da0;
}

@media (max-width: 900px) {
    .join-main-section {
        flex-direction: column;
        justify-content: center;
    }

    .join-form {
        width: 80vw;
        max-width: inherit;
        margin: 2rem 0;
    }
}

.join-page-circle-1 {
    bottom: 0;
    height: 35vw;
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 35vw;
    z-index: -1;
}

.join-page-circle-1::before { /*after works too*/
    background-color: rgba(188, 58, 128, 0.1);
    border-radius:50%;
    content: '';
    height: 100%;
    position: absolute;
    transform: translateX(-20%);
    width: 100%;
}

.join-page-circle-2 {
    top: 0;
    height: 30vw;
    overflow: hidden;
    position: absolute;
    left: 20vw;
    width: 30vw;
    z-index: -1;
}

.join-page-circle-2::before { /*after works too*/
    background-color: rgba(52, 87, 178, 0.1);
    border-radius:50%;
    content: '';
    height: 100%;
    position: absolute;
    transform: translateY(-30%);
    width: 100%;
}