@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: #2F303A;
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    font: size 1.2rem;
    color: white;
    min-height: 100vh;
}

.full-height-grow {
    display: flex;
    flex-direction: column;
}

.brand-logo {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    color: inherit;
    text-decoration: none;
}

.brand-logo-name {
    margin-left: 1rem;
}

.header {
    align-items: center;
    display: flex;
    height: 120px;
    justify-content: space-between;
}

.header-nav ul {
    color: inherit;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-nav a {
    color: inherit;
    text-decoration: none;
    padding: 1rem;
}

.header-nav a:hover {
    color: #adadad;
}

.container {
    margin: 0 auto;
    max-width: 1275px;
    padding:0 40px;
    /*meu*/
    width: 95vw;
}

.title {
    font-weight: 500;
    font-size: 3em;
    margin-bottom: 1rem;
    margin-top: 0;
}

.subtitle {
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 2rem;
    /*meus*/
    display: flex;
    flex-wrap: wrap;
}

.btn {
    color: white;
    text-decoration: none;
    background-color: #1762A7;
    border-radius: .5rem;
    padding: .75rem 1.5rem;
    font-size: 0.9rem;
}